<%- include('./partials/header.ejs') %>

<div id="fh5co-featured-menu" class="fh5co-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 fh5co-heading animate-box">
				<h2>Our Delicous Menu</h2>
				<div class="row">
					<div class="col-md-6">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit
							itaque totam, a maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam
							voluptates corporis et tempora consequuntur ipsam, itaque, nesciunt similique
							commodi omnis. Ad magni perspiciatis, voluptatum repellat.</p>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
				<div class="fh5co-item animate-box">
					<img src="static/images/menu_pizza.jpg" class="img-responsive"
						alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
					<h3><%= name[0] %></h3>
					<span class="fh5co-price"><%= price[0] %><sup>.50</sup></span>
					<p><%= description[0] %></p>
				</div>
				<div class="fh5co-item animate-box">
					<img src="static/images/menu-pizza2.jpg" class="img-responsive"
						alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
					<h3><%= name[1] %></h3>
					<span class="fh5co-price"><%= price[1] %><sup>.50</sup></span>
					<p><%= description[1] -%></p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
				<div class="fh5co-item margin_top animate-box">
					<img src="static/images/menu-pizza3.jpg" class="img-responsive"
						alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
					<h3><%= name[2] -%></h3>
					<span class="fh5co-price"><%= price[2] %><sup>.00</sup></span>
					<p><%= description[2] %></p>
				</div>
				<div class="fh5co-item animate-box">
					<img src="static/images/menu-pizza4.jpg" class="img-responsive"
						alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
					<h3><%= name[3] %></h3>
					<span class="fh5co-price"><%= price[3] %><sup>.50</sup></span>
					<p><%= description[3] %></p>
				</div>
			</div>
			<div class="clearfix visible-sm-block visible-xs-block"></div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
				<div class="fh5co-item animate-box">
					<img src="static/images/menu-pizza2.jpg" class="img-responsive"
						alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
					<h3><%= name[4] %></h3>
					<span class="fh5co-price"><%= price[4] %><sup>.99</sup></span>
					<p><%= description[4] %></p>
				</div>
				<div class="fh5co-item animate-box">
					<img src="static/images/menu_pizza.jpg" class="img-responsive"
						alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
					<h3><%= name[5] %></h3>
					<span class="fh5co-price"><%= price[5] %><sup>.50</sup></span>
					<p><%= description[5] %></p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
				<div class="fh5co-item margin_top animate-box">
					<img src="static/images/menu-pizza3.jpg" class="img-responsive"
						alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
					<h3><%= name[6] %></h3>
					<span class="fh5co-price"><%= price[6] %><sup>.50</sup></span>
					<p><%= description[6] %></p>
				</div>
				<div class="fh5co-item animate-box">
					<img src="static/images/menu-pizza4.jpg" class="img-responsive"
						alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
					<h3><%= name[7] %></h3>
					<span class="fh5co-price"><%= price[7] %><sup>.50</sup></span>
					<p><%= description[7] %></p>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('./partials/footer.ejs') %>