<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Tasty &mdash; Free Website Template, Free HTML5 Template by freehtml5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords"
		content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,600i,700"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="static/css/bootstrap.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="static/css/flexslider.css">
	<!-- Date Time -->
	<link rel="stylesheet" href="static/css/bootstrap-datetimepicker.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="static/css/style.css">

	<!-- Modernizr JS -->
	<script src="static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

	<div class="fh5co-loader"></div>

	<div id="page">
		<nav class="fh5co-nav" role="navigation">
			<!-- <div class="top-menu"> -->
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center logo-wrap">
						<div id="fh5co-logo"><a href="/">Mamma Mia<span>.</span></a></div>
					</div>
					<div class="col-xs-12 text-center menu-1 menu-wrap">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="menu">Menu</a></li>
							<li>
								<a href="gallery">Gallery</a>

							</li>
							<li class="has-dropdown active">
								<a href="order">Order</a>
								<ul class="dropdown">
									<li><a href="/your-order">Your orders</a></li>
								</ul>
							</li>

							<li><a href="about">About</a></li>
							<li><a href="contact">Contact</a></li>
							<li><a href="/login">Log in</a></li>
							<li><a href="/logout">Log out</a></li>
							<li><a href="/signup" class="btn">Sign up</a></li>
						</ul>
					</div>
				</div>

			</div>
			<!-- </div> -->
		</nav>

		<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner"
			style="background-image: url(static/images/MammaMia_main.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="display-t js-fullheight">
							<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
								<h1>Reserved a Table Today!</h1>
								<h2>Brought to you by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a>
								</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>


		<div id="fh5co-reservation-form" class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 fh5co-heading animate-box">
						<h2>Reservation</h2>
						<div class="row">
							<div class="col-md-6">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit
									itaque totam, a maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam
									voluptates corporis et tempora consequuntur ipsam, itaque, nesciunt similique
									commodi omnis. Ad magni perspiciatis, voluptatum repellat.</p>
							</div>
						</div>
					</div>

					<div class="col-md-6 col-md-push-6 col-sm-6 col-sm-push-6">
						<form action="/your-order" id="form-wrap" method="POST">
							<div class="row form-group">
								<div class="col-md-12">
									<label for="pizza">Choose Pizza</label>
									<select name="to" id="pizza" class="form-control custom_select">
										<option value="<%= name[0] %>" style="color: black;"><%= name[0] %>
										</option>
										<option value="<%= name[1] %>" style="color: black;"><%= name[1] %></option>
										<option value="<%= name[2] %>" style="color: black;"><%= name[2] %></option>
										<option value="<%= name[3] %>" style="color: black;"><%= name[3] %></option>
										<option value="<%= name[4] %>" style="color: black;"><%= name[4] %></option>
										<option value="<%= name[5] %>" style="color: black;"><%= name[5] %></option>
										<option value="<%= name[6] %>" style="color: black;"><%= name[6] %></option>
										<option value="<%= name[7] %>" style="color: black;"><%= name[7] %></option>
									</select>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-12">
									<label for="many">Ingredients</label>
									<select name="to2" id="ingredients" class="form-control custom_select">
										<option value="<%= ingredients[0] %>" style="color: black;">
											<%= ingredients[0] %>></option>
										<option value="<%= ingredients[1] %>" style="color: black;">
											<%= ingredients[1] %></option>
										<option value="<%= ingredients[2] %>" style="color: black;">
											<%= ingredients[2] %></option>
										<option value="<%= ingredients[3] %>" style="color: black;">
											<%= ingredients[3] %></option>
									</select>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-12">
									<input type="submit" class="btn btn-primary btn-outline btn-lg" value="Submit Form">
								</div>
							</div>

						</form>
					</div>


				</div>
			</div>
		</div>

		<%-include('./partials/footer.ejs') %>